<div [formGroup]="this.reminderForm">
  <button type="button" class="close" (click)="this.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">
    <mat-form-field class="col-6" floatLabel="always">
      <mat-label>City</mat-label>
      <mat-select formControlName="city" required>
        <mat-option *ngFor="let city of this.cities" [value]="city.key"  (click)="this.changeCity(city)">
          {{city.displayName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="this.reminderForm.get('weather').value" class="col-6">
      <h2>{{this.reminderForm.get('weather').value}}</h2>
    </div>
    <mat-form-field class="col-12" floatLabel="always">
      <mat-label>Date</mat-label>
      <input [min]="this.minDate" [max]="this.maxDate" formControlName="date" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="col-12" floatLabel="always">
      <mat-label>Time</mat-label>
      <input matInput type="time" placeholder="13:45" formControlName="time" required>
      <mat-error>Invalid description</mat-error>
    </mat-form-field>
    <mat-form-field class="col-12" floatLabel="always">
      <mat-label>Description</mat-label>
      <input matInput placeholder="play video games" maxlength="30" formControlName="description" required>
      <mat-error>Invalid description</mat-error>
    </mat-form-field>
    <mat-form-field class="col-12" floatLabel="always">
      <mat-label>Color</mat-label>
      <mat-select formControlName="color" required>
        <mat-select-trigger [ngStyle]="{'background-color': this.reminderForm.get('color')?.value}">
          {{this.reminderForm.get('color')?.value}}
        </mat-select-trigger>
        <mat-option [ngStyle]="{'background-color': color}" *ngFor="let color of this.colors" [value]="color">
          {{color}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button class="btn btn-primary" (click)="this.registerReminder();" [disabled]="this.reminderForm.invalid"
          *ngIf="this.dialogData.action === this.actionEnum.insert">
    Register reminder
  </button>
  <button class="btn btn-primary" (click)="this.updateReminder();" [disabled]="this.reminderForm.invalid"
          *ngIf="this.dialogData.action === this.actionEnum.edit">
    Update reminder
  </button>
</div>

